.app {
  background-color: rgb(69, 69, 69);
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app__header {
  margin-bottom: 10vh;
  display: flex;
  align-items: center;
  margin-right: 100px;
  margin-top: 25px;
}

.app__headerIcon {
  border-radius: 50%;
  width: 75px;
  object-fit: contain;
  margin-right: 25px;
}

.app__headerName {
  font-size: 25px;
}

.app__body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50vh;
  flex-direction: column;
}

.app__bodyVoiceUser {
  border: 1px solid gray;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 7.5px;
  cursor: pointer;
  background-color: rgba(69, 69, 69, 1);
}

.app__bodyVoiceUser:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.app__bodyVoiceUserRank {
  margin-right: 15px;
  opacity: 0.65;
}

em {
  font-style: normal;
  font-size: 24px;
}
